body {
	font-family: 'Segoe UI', Arial, sans-serif;
	background: linear-gradient(135deg, #e8f5e9 0%, #b2dfdb 100%);
	margin: 0;
	padding: 0;
	min-height: 90vh;
}


.main-container {
  width:500px; 
  height: auto; /* altura automática conforme o conteúdo */
  background-color: #25076c;
  margin-right: 50%; 
  padding: 16px;
  color: white; 
}


header {
	height: 100px;
	width: 100vw;
	margin: 0;
	background-color: #08589a;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.05);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

main {
	margin-top: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-area {
	background: #08589a;
	border-radius: 20px;
	padding: 32px;
	height: auto;
	width: right 320px ;
	box-shadow: 0 2px 8px rgba(0,0,0,0.04);
	margin-bottom: 32px;
	text-align: center;
}
.user-info {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: center;
	margin-top: 12px;
}
.user-avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #a5d6a7;
	object-fit: cover;
	border: 2px solid #388e3c;
}
.user-name {
	font-size: 1.2em;
	color: #388e3c;
	font-weight: 500;
}

.actions {
	display: flex;
	gap: 24px;
	margin-bottom: 32px;
}
.btn {
	background: #08589a;
	color: #000204;
	border: none;
	border-radius: 8px;
	padding: 16px 32px;
	font-size: 1.1em;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0 2px 6px rgba(0,0,0,0.07);
	transition:  0.2s, color 0.2s, transform 0.2s;
}
.btn:hover {
	background: #0ace14;
	color: #044137;
	transform: translateY(-2px) scale(1.04);
}

footer {
	width: 100vw;
	background: #388e3c;
	color: #fff;
	text-align: center;
	padding: 16px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 1em;
	letter-spacing: 1px;
}