@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


#sidebar.collapsed {
	width: 0;
	overflow: hidden;
}

.sidebar-logo {
	padding: 15px;
	font-size: 20px;
	text-align: center;
	background: rgb(234,120,59);
}
.sidebar-nav {
	padding: 10px 15px;
	background: rgb(8, 5, 3);
	list-style: none;
	padding: 0;
}
.sidebar-nav .sidebar-item  {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	text-decoration: none;
	background: rgb(8, 5, 3);
}
.sidebar-nav .sidebar-item a:hover {
	background: rgb(239, 238, 237);
}
.sidebar-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background: rgb(234,120,59);
}

.toggler-btn {
	background: none;
	border: none;
	font-size: 24px;
}
