@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
	font-family: 'Oswald', sans-serif;
	background-color: #2966a3;
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.main{
	min-width: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: rgb(8, 103, 235);
}

#sidebar{
	max-width: 264px;
	min-width: 264px;
	transition: all 0.3s ease-in-out;
	background-color: rgb(207, 196, 196);
	display: flex;
	flex-direction: column;
}

#sidebar.collapsed{
	margin-left: -264px;
}
