@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


mapa {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 1px;
    background: #333;
    margin-top: 20px;
}

.tile {
    width: 40px;
    height: 40px;
}

.grass { background: green; }
.water { background: blue; }
.wall { background: gray; }


#sidebar.collapsed {
	width: 0;
	overflow: hidden;
}

.sidebar-logo {
	padding: 10px;
	font-size: 20px;
	text-align: center;
	background: rgb(234,120,59);
}
.sidebar-nav {
	padding: 15px 25px;
	background: rgb(8, 5, 3);
	list-style: none;
	padding: 0;
}
.sidebar-nav .sidebar-item  {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	text-decoration: none;
	background: rgb(8, 5, 3);
}
.sidebar-nav .sidebar-item a:hover {
	background: rgb(239, 238, 237);
}
.sidebar-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background: rgb(234,120,59);
}

.toggler-btn {
	background: none;
	border: none;
	font-size: 24px;
}